<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>comhome</title>
</head>

<body>
    <a href="/extra/write" id="new_post">글 작성하기</a>
    <br>
    <% for(var i=0; i < result.length; i++){ %>
        <div>
            <%=result[i].review_title%>
            <%=result[i].upload_time %>
        </div>
        <br>
    <% } %>
</body>

</html>